@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$map-background: #2C0000;
$map-stroke: #ffffff;
$map-text: #FF3C3C;
$map-accent-dark: #AA1E1E;
$map-accent-light: #8B0000;

.general-map-bg {
  fill: $map-background;
}

svg {
  background-color: $map-background;
}


.building {
  fill: none;
  stroke: $map-stroke;
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.lawn {
  fill: none;
  stroke: $map-stroke;
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.parking {
  fill: none;
  stroke: $map-stroke;
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.road {
  stroke: $map-stroke;
  stroke-width: 2.5px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.map-text {
  fill: $map-text;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.garden-text {
  fill: $map-text;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.main-area {
  stroke-width: 4px;
}
